@charset "UTF-8";

 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    font-family: 'Inter', sans-serif;
    margin: 10px;
    padding: 16px;
    background-color: #030955;
    
 
 


}
.banner {
    position: relative;
}



.banner h1 {
  font-family:'Inter', sans-serif; 
    font-weight: 900;
    font-size: 600px;
    text-align: center;
    padding: 950px;
    color: #ffffff;
    top: 40%;
    left: 10%;



}
ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    gap: 100px;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 50px;
    list-style-type: none;
    padding: 20px;
   color: #ffffff;
}
li:hover {
    color: #86bce9;
}
#logo {
   position: fixed;
    bottom: 10px;
    border-left-width: 0;
    top: 0;
    width: 340px;
    height: auto;
    opacity: 1;
}
